# Ignore data files
*.dat

# Ignore generated images
*.png

# Ignore object files
*.o

# Ignore old code
*.old

# Ignore extra inputs
INq_*

# Ignore executable
sim

# Ignore output directory
output/
